@model IEnumerable<PracticeAPIFront.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expirydate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturedby)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expirydate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturedby)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateProduct", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "ProductDetails", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { Id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
